@{
    ViewBag.Title = "Home";
}

<div class="container">
    <div class="row">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">En este Sistema de acuerdo a su perfil usted podra:</h3>
            </div>
            <div class="panel-body">
                <blockquote>
                    <p>
                        <b>1. Administrar los Parámetros del Sistema.</b>
                    </p>
                    <p>
                        <b>2. Asociar Serie, Factura y Fotografía a los Activos.</b>
                    </p>
                    <p>
                        <b>3. Operaciones
                            con Activos Fijos (Alta, Baja, Revalorización, Modificar Lote).</b>
                    </p>
                    <p>
                        <b>4. Asignar Responsable
                            a cada Activo.</b>
                    </p>
                    <p>
                        <b>5. Impresión de Código de Barra.</b>
                    </p>
                    <p>
                        <b>6. Transferencias de Activos.</b>
                    </p>
                    <p>
                        <b>7. Reportes del Sistema.</b>
                    </p>
                    <p>
                        <b>8. Modulo de Consultas (personalizado).</b>
                    </p>
                    <p>
                        <b>9. Inventariacion, utilizando el Lector de Códigos de Barra.</b>
                    </p>
                    <p>
                        <b>10. Bitácora de mantenimiento de los Equipos de Computación.</b>
                    </p>
                    <p>
                        <b>11. Logs de Transacción.</b>
                    </p>
                    <p>
                        <b>12. Almacen Muebles (Accesorios en almacenes).</b>
                    </p>
                    <p>
                        <b>13. Prestamos de Activos a funcionarios.</b>
                    </p>
                </blockquote>
            </div>
        </div>
    </div>
</div>


